@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';

body {
background: #068d23 !important;
}

.user-welcome {
  margin-top: 200px;
  text-align: center;
  align-items: center;

  .card {
    width: 200px;
    margin: 5px;
  }

  .card-body {
    flex: auto;
  }
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  text-align: center;

  .card {
    width: 200px;
    margin: 5px;
    border-radius: 5%;

  }

  .card-body {
    flex: none;
  }
}
